/* mockup code */

.pdf {
  background: #ffffff;
  border: solid 1px #e6e6e6;
  border-radius: 2px;
  display: inline-block;
  height: 100px;
  line-height: 100px;
  margin: 5px;
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: 100px;
  margin-right: 30px;
  margin-left: 30px;
  margin-top: 60px;
}

.pdf span {
  background: #f2594b;
  border-radius: 4px;
  color: #ffffff;
  display: inline-block;
  font-size: 11px;
  font-weight: 700;
  line-height: normal;
  padding: 5px 10px;
  position: relative;
  text-transform: uppercase;
  z-index: 1;
}

.pdf span:last-child {
  margin-left: -20px;
}

.pdf:before,
.pdf:after {
  background: #ffffff;
  border: solid 3px #9fb4cc;
  border-radius: 4px;
  content: '';
  display: block;
  height: 35px;
  left: 50%;
  margin: -17px 0 0 -12px;
  position: absolute;
  top: 50%;
  /*transform:translate(-50%,-50%);*/
  
  width: 25px;
}

.pdf:hover:before,
.pdf:hover:after {
  background: #e2e8f0;
}
/*a:before{transform:translate(-30%,-60%);}*/

.pdf:before {
  margin: -23px 0 0 -5px;
}

.pdf:hover {
  background: #e2e8f0;
  border-color: #9fb4cc;
}

.pdf:active {
  background: #dae0e8;
  box-shadow: inset 0 2px 2px rgba(0, 0, 0, .25);
}

.pdf span:first-child {
  display: none;
}

.pdf:hover span:first-child {
  display: inline-block;
}

.pdf2:hover span:last-child {
  display: none;
}
/* custom code for the demo */

html,
button,
input,
select,
textarea {
  font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

html {
  display: table;
}

body {
  background: #f5f5f5;
  color: #ffffff;
  display: table-cell;
  margin: 0;
  text-align: center;
  vertical-align: middle;
}