.fondblanc{
    background-color: white !important;
}

.fondgrisvert{
    background-color: #313D39 !important;
}

.fondvert{
    background-color: #8CCBD8 !important;
}

.fondturquoise{
    background-color: #17A697 !important;
}

.policenoire{
    color: black !important;
}

.dateportfolio{
    color:black !important;
    margin-bottom: 20px;
}

.policeblanche{
    color: white !important;
}

.policenom{
    font-family: 'Antonio', sans-serif !important;
}

.policeralewaydots{
    font-family: 'Raleway Dots', cursive;
}

.policeraleway{
    font-family: 'Raleway', sans-serif !important;
}

.textejustifie{
    text-align: justify !important;
    
}

.boutondownload{
    border-color: black;
    font-style: black;
    background-color: white;

}

.boutondownload:hover{
    font-style: white;
    border-color: #17A697;
    background-color: #17A697;
}

.objetblanc{
    color: white !important;
}

.foxseparateur{
    width: 12%;
    padding-bottom: 25px;
}

.lignesep{
    color:black !important;
    width:25%;
    margin-left: auto;
    margin-right: auto;
    opacity: 1 !important;
}

.lignesep2{
    color:white !important;
    width:25%;
    margin-left: auto;
    margin-right: auto;
    opacity: 1 !important;
}

.profilepic{
    margin-top: 20px;
}

.centrerbloc{
    position: center;
    padding-left: auto;
    padding-right: auto;
}

iframe{
    position: center;
}

.badge-base.LI-profile-badge{
    width: 20%;
}

.profile-badge .profile-badge--width-330 .profile-badge--light{
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.fondbleu{
    background-color: #22427C !important;
    background-image: linear-gradient(to bottom right, rgb(27, 7, 202), rgb(171, 5, 243)) !important;
}

.fondgris{
    background-color:#293133 !important;
}

.menuhover:hover{
    color:rgb(171, 5, 243) !important;
}

.menuhover::selection{
    color:rgb(27, 7, 202) !important;
}

.portfoliotuiles:hover{
    color:rgb(27, 7, 202) !important;
}

.bleuclair{
    color:lightblue !important;
}

.shadow{
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.precision {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 45px;
}