* {box-sizing: border-box}

.containerskills {
  width: 65%;
  background-color: #ddd;
  border-radius:10px;
  height: 15px;
  margin-left: auto;
  margin-right: auto;
}

.skills{border-radius: 10px;}

.web {width: 90%; background-color: rgb(27, 7, 202);height: 100%;}
.sql {width: 80%; background-color: rgb(171, 5, 243);height: 15px;}
.scripts {width: 70%; background-color: rgb(27, 7, 202);height: 15px;}
.php {width: 60%; background-color: rgb(171, 5, 243);height: 15px;}